{% extends 'base.html' %}

{% block title %}Een Aanbod aan Antiek & Volkskunst | De Collectie van Henk en Arina Kamp{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
        </div>
    </div>
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
			  <h1 class="text-center">Welkom op onze Antiekcollectie.</h1>
			</div>
            <div class="panel-body">
                <p class="text-center">Op deze pagina kunt u informatie vinden over de antiekstukken in onze collectie. Alles is onderverdeeld naar onderwerp in gallerijen.
                </p>
            </div>
            <div>
                <img src="{{ STATIC_URL }}img/antiek-kamer.png" class="img-responsive center-block" alt="Interieur met antieke inrichting"></div>
            </div>
        </div>
    </div>
{% endblock %}
